    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('assets/rsz_final_pic.png');">
            <div class="container">
                <div class="row">
					<div class="col-md-6">
						<h1 class="title">{{ 'HOME.page.title' | translate }}</h1>
	                    <h4 [innerHTML]="'HOME.page.subtitle' | translate"></h4>
	                    <br />
						<!--
	                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-danger btn-raised btn-lg">
							<i class="fa fa-play"></i> Watch video
						</a>
						-->
						<div class="center-block">
					</div>
					</div>
                </div>
            </div>
        </div>