
	    <footer class="footer">
	        <div class="container">
	            <nav class="pull-left">
	                <ul>
	                    <li>
	                        <a href="">
	                            DOREX
	                        </a>
	                    </li>
	                    <li>
	                        <a href="">
	                           Blog
	                        </a>
	                    </li>
	                    <li>
	                        <a href="">
	                            Licenses
	                        </a>
	                    </li>
	                </ul>
	            </nav>
	            <div class="copyright pull-right">
	                &copy; 2017, MIT
	            </div>
	        </div>
	    </footer>