<footer class="footer" style="padding-top:15px;padding-bottom:15px;">
				<div class="">
					<nav class="pull-left" style="float: left!important;">
						<ul style="margin-bottom:0;padding:0;list-style: none;">
							<li style="color: inherit;
							padding: 15px;
							font-weight: 500;
							font-size: 12px;
							text-transform: uppercase;
							border-radius: 3px;
							position: relative;
							display: block;
							float:left;">
								<a href="">
									DOREX
								</a>
							</li>
							<li style="color: inherit;
							padding: 15px;
							font-weight: 500;
							font-size: 12px;
							text-transform: uppercase;
							border-radius: 3px;
							position: relative;
							display: block;
							float:left">
								<a href="">
								   Blog
								</a>
							</li>
							<li style="color: inherit;
							padding: 15px;
							font-weight: 500;
							font-size: 12px;
							text-transform: uppercase;
							border-radius: 3px;
							position: relative;
							display: block;
							float:left;">
								<a href="">
									Licenses
								</a>
							</li>
						</ul>
					</nav>
					<!--
					<div class="copyright pull-right">
						&copy; 2017, MIT
					</div>
				-->
				</div>
</footer>