<div class="features">
		<div class="dorex-intro-section">
				<div class="dorex-inner">
						<div class="dorex-intro-text" flex>
							<h2>{{'HOME.product.title' | translate}}</h2>
							<p [innerHTML]="'HOME.product.content' | translate">
						
							</p>
							<mat-chip-list>
								<mat-chip color="accent" selected>Zweiflügeltore</mat-chip>
								<mat-chip color="accent" selected>Gehtüren</mat-chip>
								<mat-chip color="accent" selected>Terassendächer aus Polycarbonat</mat-chip>
								<mat-chip color="accent" selected>Zaunfälder</mat-chip>
								<mat-chip color="accent" selected>Balkone</mat-chip>
								<mat-chip color="accent" selected>Geländer</mat-chip>
								<mat-chip color="accent" selected>Stahlkonstruktionen</mat-chip>
							</mat-chip-list>
						</div>
				</div>
		</div>
		<!-- MD CARDS -->
		<div id="screens" style="flex-wrap:wrap;">
				<div 
						fxLayout
						fxLayout.sm="column"
						fxLayout.xs="column"
						fxLayoutAlign="center"
						fxLayoutGap="5px"
						fxLayoutGap.xs="5px"
						>
		                <div>
								<div>
									<mat-card class="example-card" fxFlex >
										<mat-card-header>
											<i class="material-icons mat-24">bubble_chart</i>
											<mat-card-title>{{'HOME.product.productList.gelander.title' | translate}}</mat-card-title>
										</mat-card-header>
										<img mat-card-image src="assets/GELANDER.jpeg">
										<mat-card-content>
											<p [innerHTML]="'HOME.product.productList.gelander.text' | translate">
											</p>
										</mat-card-content>
										<mat-card-actions>
											<button mat-button routerLink="/railings" color="accent">
											<mat-icon class="mat-24">expand_more</mat-icon>
											{{'HOME.product.productList.gelander.button' | translate}}
											</button>
										</mat-card-actions>
									</mat-card>
								</div>
		                    </div>
		                    <div>
								<div>
									<mat-card class="example-card" fxFlex>
										<mat-card-header>
											<i class="material-icons mat-24">bubble_chart</i>
											<mat-card-title>{{'HOME.product.productList.tore.title' | translate}}</mat-card-title>
										</mat-card-header>
										<img mat-card-image src="assets/ZAUN.jpeg">
										<mat-card-content>
											<p [innerHTML]="'HOME.product.productList.tore.text' | translate">
											</p>
										</mat-card-content>
										<mat-card-actions>
											<button mat-button color="accent" routerLink="/fence" >
											<mat-icon class="mat-24">expand_more</mat-icon>
											{{'HOME.product.productList.tore.button' | translate}}
											</button>
										</mat-card-actions>
									</mat-card>
								</div>
		                    </div>
		                    <div>
								<div>
									<mat-card class="example-card" fxFlex>
										<mat-card-header>
											<i class="material-icons mat-24">bubble_chart</i>
											<mat-card-title>{{'HOME.product.productList.zaun.title' | translate}}</mat-card-title>
										</mat-card-header>
										<img mat-card-image src="assets/TORE.jpeg">
										<mat-card-content>
											<p [innerHTML]="'HOME.product.productList.zaun.text' | translate" >
											</p>
										</mat-card-content>
										<mat-card-actions>
											<button mat-button routerLink="/doors" color="accent">
											<mat-icon class="mat-24">expand_more</mat-icon>
											{{'HOME.product.productList.zaun.button' | translate}}
											</button>
										</mat-card-actions>
											</mat-card>
									</div>
		                	</div>
		            </div>
		</div>
</div>
<!-- Contact us -->
<div class="dorex-final-section" style="margin-top: 50px;">
		<div class="dorex-inner">
				<div class="dorex-intro-text">
					<p [innerHTML]="'HOME.product.about.content' | translate">
					</p>
					<a mat-button color="accent" href="https://www.facebook.com/dorexogrodzenia/" target="_blank">
							<mat-icon class="mat-24">group_add</mat-icon>
							Sie finden uns auch auf Facebook
					</a>
				</div>
		</div>
</div>
<!-- FORM -->
<div fxLayout="row"  fxLayoutGap="5px" fxLayoutGap.xs="5px" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center">
	<div fxFlex></div>
	<div fxFlex>
		<mat-card>
			<mat-card-header>
				<mat-card-title>Willst du mit uns arbeiten ?</mat-card-title>
			</mat-card-header>
			<mat-card-content>
					<form (ngSubmit)="onSubmit(f)" #f="ngForm" class="example-form">
								<div ngModelGroup="userData">
									<div>
									<div>
										<div class="form-group label-floating">
											<mat-form-field class="example-full-width">
												<input
												matInput 
												placeholder="Name" 
												id="name"
												[(ngModel)]="user.name"
												name="name"
												type="text"
												required />
											</mat-form-field>
										</div>
									</div>
									<div>
										<div class="form-group label-floating">
											<mat-form-field class="example-full-width">
												<input
												matInput 
												placeholder="E-Mail"
												id="email"
												[(ngModel)]="user.email"
												name="email"
												required
												#email="ngModel"
												pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
												/>
											</mat-form-field>
										</div>
									</div>
								</div>
								<div>
								<div>
									<div class="form-group label-floating">
										<mat-form-field class="example-full-width">
										<textarea
										#message="ngModel"
										id="message"
										[(ngModel)]="user.message"
										name="message"
										matInput 
										placeholder="Nachricht" 
										rows="6" 
										required></textarea>
										</mat-form-field>
									</div>
							</div>
								</div>
								<div >
									<div>
										<button mat-raised-button type="submit" class="btn btn-primary" [disabled]="!f.valid">Senden</button>
									</div>
								</div>
							</div>
						</form>
			</mat-card-content>
		</mat-card>
	</div>
	<div fxFlex></div>
</div>