<div class="section text-center section-landing">
	                <div class="row">
	                    <div class="col-md-8 col-md-offset-2">
	                        <h2 class="title">{{'HOME.product.title' | translate}}</h2>
	                        <h5 class="description">
								<div>{{'HOME.product.content' | translate}}</div>
								</h5>
	                    </div>
	                </div>
					<div class="features">
						<div class="row">
		                    <div class="col-md-4">
								<div class="info">
									<md-card class="example-card" fxFlex>
										<md-card-header>
											<i class="material-icons md-24">bubble_chart</i>
											<md-card-title>{{'HOME.product.productList.gelander.title' | translate}}</md-card-title>
										</md-card-header>
										<img md-card-image src="assets/GELANDER.JPG">
										<md-card-content>
											<p [innerHTML]="'HOME.product.productList.gelander.text' | translate">
											</p>
										</md-card-content>
										<md-card-actions>
											<button md-button>
												<md-icon class="md-24">share</md-icon>
												Share</button>
											<button md-button routerLink="/railings" >
											<md-icon class="md-24">expand_more</md-icon>
											More
											</button>
										</md-card-actions>
									</md-card>
								</div>
		                    </div>
		                    <div class="col-md-4">
								<div class="info">
									<md-card class="example-card" fxFlex>
										<md-card-header>
											<i class="material-icons md-24">bubble_chart</i>
											<md-card-title>{{'HOME.product.productList.tore.title' | translate}}</md-card-title>
										</md-card-header>
										<img md-card-image src="assets/TORE.JPG">
										<md-card-content>
											<p [innerHTML]="'HOME.product.productList.tore.text' | translate">
											</p>
										</md-card-content>
										<md-card-actions>
											<button md-button>
												<md-icon class="md-24">share</md-icon>
												Share</button>
											<button md-button routerLink="/railings" >
											<md-icon class="md-24">expand_more</md-icon>
											More
											</button>
										</md-card-actions>
									</md-card>
								</div>
		                    </div>
		                    <div class="col-md-4">
								<div class="info">
									<md-card class="example-card" fxFlex>
										<md-card-header>
											<i class="material-icons md-24">bubble_chart</i>
											<md-card-title>{{'HOME.product.productList.zaun.title' | translate}}</md-card-title>
										</md-card-header>
										<img md-card-image src="assets/ZAUN.JPG">
										<md-card-content>
											<p [innerHTML]="'HOME.product.productList.zaun.text' | translate" >
											</p>
										</md-card-content>
										<md-card-actions>
											<button md-button>
												<md-icon class="md-24">share</md-icon>
												Share</button>
											<button md-button routerLink="/railings" >
											<md-icon class="md-24">expand_more</md-icon>
											More
											</button>
										</md-card-actions>
									</md-card>
								</div>
		                    </div>
		                </div>
					</div>
	            </div>
<!--
                <div class="section text-center">
	                <h2 class="title">Here is our team</h2>

					<div class="team">
						<div class="row">
							
							<div class="col-md-4">
			                    <div class="team-player">
			                        <img src="../assets/img/avatar.jpg" alt="Thumbnail Image" class="img-raised img-circle">
			                        <h4 class="title">Gigi Hadid <br />
										<small class="text-muted">Model</small>
									</h4>
			                        <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-instagram"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon btn-default"><i class="fa fa-facebook-square"></i></a>
			                    </div>
			                </div>
			                <div class="col-md-4">
			                    <div class="team-player">
			                        <img src="../assets/img/christian.jpg" alt="Thumbnail Image" class="img-raised img-circle">
			                        <h4 class="title">Christian Louboutin<br />
										<small class="text-muted">Designer</small>
									</h4>
			                        <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-linkedin"></i></a>
			                    </div>
			                </div>
			                <div class="col-md-4">
			                    <div class="team-player">
			                        <img src="../assets/img/kendall.jpg" alt="Thumbnail Image" class="img-raised img-circle">
			                        <h4 class="title">Kendall Jenner<br />
										<small class="text-muted">Model</small>
									</h4>
			                        <p>You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-google-plus"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-youtube-play"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon btn-default"><i class="fa fa-twitter"></i></a>
			                    </div>
			                </div>
							
						</div>
					</div>

	            </div>
				-->