<div class="section text-center section-landing">
	                <div class="row">
	                    <div class="col-md-8 col-md-offset-2">
	                        <h2 class="title">Let's talk product</h2>
	                        <h5 class="description">
								<div>{{'HOME.product' | translate}}</div>
								</h5>
	                    </div>
	                </div>

					<div class="features">
						<div class="row">
		                    <div class="col-md-4">
								<div class="info">
									<md-card class="example-card" fxFlex>
										<md-card-header>
											<div md-card-avatar class="example-header-image"></div>
											<md-card-title>{{first_feature}}</md-card-title>
										</md-card-header>
										<img md-card-image src="assets/B11.JPG">
										<md-card-content>
											<p>
												"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
											</p>
										</md-card-content>
										<md-card-actions>
											<button md-button>
												<md-icon class="md-24">share</md-icon>
												Share</button>
											<button md-button routerLink="/railings" >
											<md-icon class="md-24">expand_more</md-icon>
											More
											</button>
										</md-card-actions>
									</md-card>
								</div>
		                    </div>
		                    <div class="col-md-4">
								<div class="info">
									<md-card class="example-card" fxFlex>
										<md-card-header>
											<div md-card-avatar class="example-header-image"></div>
											<md-card-title>{{second_feature}}</md-card-title>
										</md-card-header>
										<img md-card-image src="assets/DSC03067.JPG">
										<md-card-content>
											<p>
												"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
											</p>
										</md-card-content>
										<md-card-actions>
											<button md-button>
												<md-icon class="md-24">share</md-icon>
												Share</button>
											<button md-button routerLink="/railings" >
											<md-icon class="md-24">expand_more</md-icon>
											More
											</button>
										</md-card-actions>
									</md-card>
								</div>
		                    </div>
		                    <div class="col-md-4">
								<div class="info">
									<md-card class="example-card" fxFlex>
										<md-card-header>
											<div md-card-avatar class="example-header-image"></div>
											<md-card-title>{{third_feature}}</md-card-title>
										</md-card-header>
										<img md-card-image src="assets/OGP8B.JPG">
										<md-card-content>
											<p>
												"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
											</p>
										</md-card-content>
										<md-card-actions>
											<button md-button>
												<md-icon class="md-24">share</md-icon>
												Share</button>
											<button md-button routerLink="/railings" >
											<md-icon class="md-24">expand_more</md-icon>
											More
											</button>
										</md-card-actions>
									</md-card>
								</div>
		                    </div>
		                </div>
					</div>
	            </div>
<!--
                <div class="section text-center">
	                <h2 class="title">Here is our team</h2>

					<div class="team">
						<div class="row">
							
							<div class="col-md-4">
			                    <div class="team-player">
			                        <img src="../assets/img/avatar.jpg" alt="Thumbnail Image" class="img-raised img-circle">
			                        <h4 class="title">Gigi Hadid <br />
										<small class="text-muted">Model</small>
									</h4>
			                        <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-instagram"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon btn-default"><i class="fa fa-facebook-square"></i></a>
			                    </div>
			                </div>
			                <div class="col-md-4">
			                    <div class="team-player">
			                        <img src="../assets/img/christian.jpg" alt="Thumbnail Image" class="img-raised img-circle">
			                        <h4 class="title">Christian Louboutin<br />
										<small class="text-muted">Designer</small>
									</h4>
			                        <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-linkedin"></i></a>
			                    </div>
			                </div>
			                <div class="col-md-4">
			                    <div class="team-player">
			                        <img src="../assets/img/kendall.jpg" alt="Thumbnail Image" class="img-raised img-circle">
			                        <h4 class="title">Kendall Jenner<br />
										<small class="text-muted">Model</small>
									</h4>
			                        <p>You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.</p>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-google-plus"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-youtube-play"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon btn-default"><i class="fa fa-twitter"></i></a>
			                    </div>
			                </div>
							
						</div>
					</div>

	            </div>
				-->