    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('assets/IMG_0720.JPG');">
            <div class="container">
                <div class="row">
					<div>
						<div class="jumbotron" style="border-radius:0px;background-color:transparent;">
							<md-card class="example-card" fxFlex>
								<md-card-header>
									<i class="material-icons md-24">nature</i>
									<md-card-title>{{'HOME.product.about.title' | translate}}</md-card-title>
								</md-card-header>
										<img md-card-image src="">
								<md-card-content>
										<p [innerHTML]="'HOME.product.about.content' | translate">
										</p>
								</md-card-content>
									<md-card-actions>
										<button md-button>
											<md-icon class="md-24">group_add</md-icon>
												Find us on Facebook</button>
									</md-card-actions>
							</md-card>
						</div>
					</div>
                </div>
            </div>
        </div>