<mat-toolbar color="primary" class="fixed-header">
				<button mat-button class="app-menu-button" (click)="sidenavRef.toggle()">
						<i class="material-icons">menu</i>
					  </button>
				<span>Dorex</span>
				<span class="example-spacer"></span>
				<mat-icon class="example-icon" routerLink="/" >home</mat-icon>
				<!--
				<mat-icon class="example-icon" routerLink="/about">nature_people</mat-icon>
				-->
				<mat-icon class="example-icon" routerLink="/contact">contact_mail</mat-icon>
			    <mat-icon [matMenuTriggerFor]="menu" class="example-icon" >translate</mat-icon>
				
				<mat-menu #menu="matMenu">
				<button mat-menu-item *ngFor="let lang of translate.getLangs()" (click)="translate.use(lang)">
					<span>{{lang}}</span>
				</button>
				</mat-menu>
			
			<!--
			<mat-form-field class="example-icon">
					<mat-select>
					  <mat-option *ngFor="let lang of translate.getLangs()" selected="lang == translate.currentLang" [value]="lang" (click)="translate.use(lang)">
						{{ lang }}
					  </mat-option>
					</mat-select>
				</mat-form-field>
			-->
</mat-toolbar>