	<nav class="navbar navbar-transparent navbar-absolute">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href=""></a>
        	</div>

        	<div class="collapse navbar-collapse" id="navigation-example">
        		<ul class="nav navbar-nav navbar-right">
					<li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
						<a routerLink="/" aria-disabled="true" >Home</a>
					</li>
                    <li routerLinkActive="active">
						<a routerLink="/about" aria-disabled="true" >About</a>
					</li>
					<li routerLinkActive="active">
						<a routerLink="/contact" aria-disabled="true" >Contact</a>
					</li>
					<li>
						
						<select [(ngModel)]="selectedValue" (change)="translate.use(selectedValue)">
							<option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</option>
						</select>
						<!--
						<button md-icon-button [mdMenuTriggerFor]="menu">
						<md-icon>translate</md-icon>
						</button>
						<md-menu #menu="mdMenu">
						<button md-menu-item *ngFor="let lang of translate.getLangs()">
							<span (change)="translate.use(lang)">{{lang}}</span>
						</button>
						</md-menu>
						-->
					</li>
		            <li>
		                <a href="" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-twitter"></i>
						</a>
		            </li>
		            <li>
		                <a href="https://www.facebook.com/dorexogrodzenia/" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-facebook-square"></i>
						</a>
		            </li>
					<li>
		                <a href="" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-instagram"></i>
						</a>
		            </li>
        		</ul>
        	</div>
    	</div>
    </nav>