<div class="wrapper">
        <div class="header header-filter" style="background-image: url('assets/IMG_0720.JPG');">
            <div class="container">
                <div class="row">
							<div class="col-md-4">
							<md-card class="example-card" fxFlex>
								<md-card-header>
									<i class="material-icons md-24">contacts</i>
									<md-card-title>{{'HOME.product.contact.title' | translate}}</md-card-title>
									<md-card-subtitle>Unser Personal spricht fließend Deutsch.</md-card-subtitle>
								</md-card-header>
										<img md-card-image src="">
								<md-card-content>
										<div>
											<i class="material-icons">label</i>
											<p [innerHTML]="'HOME.product.contact.contentPL.title' | translate"></p>
										</div>
										<div>
											<i class="material-icons">phone</i>
											<p [innerHTML]="'HOME.product.contact.contentPL.phone' | translate"></p>
										</div>
										<div>
											<i class="material-icons">email</i>
											<p [innerHTML]="'HOME.product.contact.contentPL.email' | translate"></p>
										</div>
										<div>
											<i class="material-icons">location_city</i>
											<p [innerHTML]="'HOME.product.contact.contentPL.address' | translate"></p>
										</div>
								</md-card-content>
									<md-card-actions>
										<button md-button>
											<md-icon class="md-24">group_add</md-icon>
												Find us on Facebook</button>
									</md-card-actions>
							</md-card>
							</div>
							<div class="col-md-8">
							<md-card class="example-card" fxFlex>
								<md-card-header>
									<i class="material-icons">location_on</i>
									<md-card-title>{{'HOME.product.contact.location' | translate}}</md-card-title>
								</md-card-header>
										<img md-card-image src="">
								<md-card-content>
									<div id="div_spacer" style="margin-bottom: 26px;">
									</div>
									<agm-map [latitude]="50.4740773" [longitude]="19.932963">
										<agm-marker [latitude]="50.4777633" [longitude]="20.0411983"></agm-marker>
									</agm-map>
								</md-card-content>
									<md-card-actions>
									</md-card-actions>
							</md-card>
							</div>
                </div>
            </div>
        </div>
	</div>
<!--
<div class="main main-raised" style="border-radius: 0px;">
    <div class="container">
		<div class="section text-center section-landing">
					<div class="features">
						
					</div>
		</div>
    </div>
</div>
-->