
<div class="section landing-section">
	                <div class="row">
	                    <div class="col-mat-8 col-mat-offset-2">
	                        <h2 class="text-center title">Work with us</h2>
							<h4 class="text-center description">Divide details about your product or agency work into parts. Write a few lines about each one and contact us about any further collaboration. We will responde get back to you in a couple of hours.</h4>
							<!--
	                        <agm-map class="map-container"
                            [latitude]="latitude"
                            [longitude]="longitude"
                            [zoom]="zoom">
                            </agm-map>
							-->
                            <form  (ngSubmit)="onSubmit(f)" #f="ngForm" class="contact-form">
								<div ngModelGroup="userData">
								<div class="row">
	                                <div class="col-mat-6">
										<div class="form-group label-floating">
											<mat-input-container class="example-full-width">
												<input
												matTooltip="Enter your name"
												matInput 
												placeholder="Your name" 
												id="name"
												[(ngModel)]="user.name"
												name="name"
												type="text"
												required />
											</mat-input-container>
										</div>
	                                </div>
	                                <div class="col-mat-6">
										<div class="form-group label-floating">
											<mat-input-container class="example-full-width">
												<input
												matTooltip="Enter your e-mail"
												matInput 
												placeholder="Your email"
												id="email"
												[(ngModel)]="user.email"
												name="email"
												required
												#email="ngModel"
												pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
												/>
											</mat-input-container>
										</div>
	                                </div>
	                            </div>

							<div class="row">
								<div class="col-mat-10">
									<div class="form-group label-floating">
										<mat-input-container class="example-full-width">
										<textarea
										matTooltip="Enter your message here"
										#message="ngModel"
										id="message"
									    [(ngModel)]="user.message"
										name="message"
										matInput 
										placeholder="Your message" 
										rows="6" 
										required></textarea>
										</mat-input-container>
									</div>
                            </div>
								</div>

	                            <div class="row">
	                                <div class="col-mat-4 col-mat-offset-4 text-center">
										<!--
	                                    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
										-->
										<button mat-raised-button color="primary" [disabled]="!f.valid" (click)="openSnackBar()" aria-label="submit">Submit</button>
	                                </div>
	                            </div>
							</div>
	                </form>
	        </div>
	</div>
</div>